<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Server Side Rendering</title>
</head>
<body>
    <h1>ReactJS</h1>
    <div id="root"></div>
    <script src="bundle.js"></script>
</body>
</html>